<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Partie en cours - Othello GH</title>

</head>
<body>

<div th:fragment="content">
    <meta http-equiv="refresh" content="5">
    <link rel="stylesheet" th:href="@{/css/board.css}" />

    <h3>⚫ <span th:text="${users.findById(game.getBlack().longValue()).get().getPseudo()}">X</span> VS <span th:text="${users.findById(game.getWhite().longValue()).get().getPseudo()}">X</span> ⚪</h3>

    <p th:if="${message ne null}" class="alert alert-danger" th:text="${message}"></p>

    <p th:if="${game.status.name() == 'BLACK_TURN'}">Au tour de <span th:text="${users.findById(game.currentPlayer.longValue()).get().getPseudo()}">X</span>, bon chance</p>
    <p th:if="${game.status.name() == 'WHITE_TURN'}">Au tour <span th:text="${users.findById(game.currentPlayer.longValue()).get().getPseudo()}">X</span>, bon chance</p>
    <p th:if="${game.status.name() == 'DRAW'}">This is a draw ! No winner... but no looser either!</p>
    <p th:if="${game.status.name() == 'FINISHED'}">Player <span th:text="${users.findById(game.winner.longValue()).get().getPseudo()}">X</span> wins!</p>




    <table class="board">
        <tr th:each="column: ${#numbers.sequence(0, boardSize-1)}">
            <td th:each="row: ${#numbers.sequence(0, boardSize-1)}"
                th:text="${game.board[row][column]}"
                th:onclick="|location.href='@{/game/play/{id}/{col}/{row}(id=${game.id}, row=${row}, col=${column})}'|"
            ></td>
        </tr>
    </table>

</div>
</body>
</html>