table.board {
    border-collapse: collapse;
}

table.board td {
    border: 1px solid black;
    font-size: 2em;
    font-family: Consolas,monaco,monospace;
    height: 60px;
    width: 60px;
    text-align: center;
}


#boiteJeu{
display:flex;}
