<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:fragment="title">Register - Othello GH</title>
</head>
<body>
<div th:fragment="content">
    <form name="f" th:action="@{/register}" method="post">
        <fieldset>
            <legend>Authentification</legend>
            <div th:if="${param.error}" class="alert alert-error">
                L'identifiant et le mot de passe sont invalides
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                Vous avez été déconnecté
            </div>

            <label for="pseudo">Pseudo</label>
            <input type="text" id="pseudo" name="pseudo" autocomplete="off"/>
            <label for="username">Mail</label>
            <input type="text" id="username" name="username" autocomplete="off"/>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" autocomplete="off"/>
            <div class="form-actions">
                <div class="alert alert-danger" th:if="${errorUniciteLoginMail != null}">Mail ou pseudo deja pris, Recommence</div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('user.pseudo')}" th:errors="*{user.pseudo}">Invalide</div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('user.username')}" th:errors="*{user.username}">Invalide</div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}">Invalide</div>

                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </fieldset>
    </form>
    <!--<a th:href="@{/login}" th:text="login page">login</a>-->
</div>
</body>
</html>